<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="tianmao.admin.mapper.PermissionWithRoleMapper">

    <resultMap id="default" type="tianmao.model.user.Permission"/>

    <select id="getListByAdminId" resultMap="default">
        SELECT p.*
        FROM admin_permission p, admin_role_permission r_w_p
        WHERE r_w_p.role_id = #{roleId} AND p.id = r_w_p.permission_id;
    </select>

    <select id="getListByRoleId" resultMap="default" parameterType="long">
        SELECT
            p.*
        FROM admin_permission p, admin_role_permission r_w_p
        WHERE r_w_p.role_id = #{roleId}
          AND p.id = r_w_p.permission_id;
    </select>

    <insert id="createByRoleId" parameterType="map">
        INSERT INTO admin_role_permission (role_id, permission_id) VALUES
        <foreach collection="permissions" separator="," item="permission">
            (#{roleId}, #{permission.id})
        </foreach>
    </insert>

    <delete id="deleteByRoleId" parameterType="long">
        DELETE FROM admin_role_permission
        WHERE role_id = #{roleId};
    </delete>

    <select id="getPermissionMarksByAdminId" resultType="string">
        SELECT ap.mark FROM admin_permission ap
        JOIN admin_role_permission arp ON arp.permission_id = ap.id
        JOIN admin_with_role awr ON awr.role_id = arp.role_id
        WHERE awr.admin_id = #{adminId}
          AND mark &lt;&gt; ''
    </select>

</mapper>