<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianmao.service.app.mapper.AccountBindMapper">

    <resultMap id="default" type="com.tianmao.service.model.user.AccountBind"/>

    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user_account_bind (`user_id`, `openid`, `account_type`, `bind_type`, `bind_time`)
        VALUES (#{userId}, #{openid}, #{accountType}, #{bindType}, #{bindTime});
    </insert>

    <select id="getAccountBindByOpenId" resultMap="default">
        SELECT * FROM user_account_bind
        WHERE openid = #{openid}
        AND account_type = #{accountType}
        AND deleted = 0
    </select>

    <select id="getAccountBindByUserId" resultMap="default">
        SELECT * FROM user_account_bind
        WHERE user_id = #{userId}
        AND account_type = #{accountType}
        AND deleted = 0
    </select>

</mapper>