<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianmao.app.mapper.MessageTemplateMapper">

    <resultMap id="default" type="com.tianmao.model.user.MessageTemplate"/>

    <select id="getMessageTemplateByMessageType" resultMap="default">
        SELECT * FROM system_message_template
        WHERE message_type = #{messageType}
        LIMIT 1
    </select>


</mapper>