<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianmao.app.mapper.UserMessageMapper">

	<resultMap id="default" type="com.tianmao.model.user.UserMessage" autoMapping="true">

	</resultMap>

	<select id="getUserMessageById" resultMap="default">

		SELECT * FROM  system_user_message
		WHERE  user_id = #{userId}
		AND  is_read = 0

	</select>

	<update id="updateMessageByids" >
		UPDATE system_user_message SET is_read = 1 WHERE id IN (${ids})
	</update>

</mapper>