<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tianmao.service.app.mapper.UserMapper">

    <resultMap id="default" type="com.tianmao.service.model.user.User" autoMapping="true"></resultMap>

    <select id="selectAllData" resultMap="default">

        select * from user_info

    </select>


</mapper>