<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE com.tainmao.service.impl.mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-com.tainmao.service.impl.mapper.dtd" >
<com.tainmao.service.impl.mapper namespace="com.tianmao.app.com.tainmao.service.impl.mapper.VerificationCodeMapper">
   <resultMap id="default" type="com.tianmao.model.sencode.VerificationCode"></resultMap>

    <select id="getByUsername" resultMap="default">
        SELECT * FROM system_verification_code
        WHERE username = #{username}
          AND deleted = 0
          AND status = 1
        ORDER BY due_time DESC
        LIMIT 1;
    </select>

    <insert id="create" parameterType="com.tianmao.model.sencode.VerificationCode">
        INSERT INTO system_verification_code (`username`, `verification_code`, `ip`, `interval_time`, `code_type`, `status`, `due_time`, `send_time`, `deleted`)
        VALUES (#{username}, #{verificationCode}, #{ip}, #{intervalTime}, #{codeType}, #{status}, #{dueTime}, #{sendTime}, 0);
    </insert>

    <select id="getByUsernameAndCode" resultMap="default">
        SELECT * FROM system_verification_code
        WHERE username = #{username}
        AND verification_code = #{code}
        AND deleted = 0
        ORDER BY send_time DESC
        LIMIT 1;
    </select>

    <update id="destroy">
        UPDATE system_verification_code
        SET deleted = 1
        WHERE username = #{username}
        AND verification_code = #{code}
    </update>

</com.tainmao.service.impl.mapper>