<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE com.tainmao.service.impl.mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-com.tainmao.service.impl.mapper.dtd">
<com.tainmao.service.impl.mapper namespace="com.tianmao.admin.com.tainmao.service.impl.mapper.AdminMapper">

    <resultMap id="default" type="com.tianmao.model.user.Admin"/>

    <select id="getAdminByUsername" resultType="com.tianmao.model.user.Admin">
        SELECT * FROM admin
        WHERE username = #{username}
    </select>

    <select id="getList" resultMap="default">
       /* SELECT * FROM admin*/
        SELECT
           a.*,
          ar.name AS roleName
           FROM
             admin a
           LEFT JOIN admin_with_role awr
            ON awr.admin_id = a.id
           LEFT JOIN admin_role ar
            ON ar.id = awr.role_id
          <where>
              <if test="id != null">
                AND a.id = #{id}
              </if>
              <if test="username != null">
                  AND a.username LIKE CONCAT(#{username},'%')
              </if>
              <if test="status != null">
                  AND a.status = #{status}
              </if>
          </where>
    </select>

    <update id="updateAdminByAdminId">
      UPDATE admin
        <set>
            username = #{username},
            password = #{password},
            password_salt = #{passwordSalt},
            nickname = #{nickname},
            mobile = #{mobile},
            email = #{email}
        </set>
        WHERE id = #{id}
    </update>

    <select id="getAdminRoleById" resultMap="default">

        SELECT admin_id AS id , role_id
        FROM  admin_with_role WHERE  admin_id = #{userId}

    </select>

</com.tainmao.service.impl.mapper>