<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE com.tainmao.service.impl.mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-com.tainmao.service.impl.mapper.dtd" >
<com.tainmao.service.impl.mapper namespace="com.tianmao.admin.com.tainmao.service.impl.mapper.RoleMapper">

    <resultMap id="default" type="com.tianmao.model.user.Role"/>

    <insert id="create" parameterType="com.tianmao.model.user.Role" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO admin_role (`name`, `remark`, `add_time`)
        VALUES (#{name}, #{remark}, #{addTime});
    </insert>

    <update id="update">
        UPDATE admin_role
        SET `name`  = #{name},
             remark  = #{remark},
             update_time = #{updateTime}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM admin_role
        WHERE id = #{roleId}
    </delete>

    <select id="getList" resultMap="default">
        SELECT * FROM admin_role
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="name != null and name != ''">
                name LIKE CONCAT(#{name}, '%')
            </if>
        </where>
        ORDER BY add_time
    </select>

    <select id="getRole" resultMap="default" parameterType="long">
        SELECT * FROM admin_role
        WHERE id = #{roleId}
        LIMIT 1;
    </select>

    <select id="checkRoleName" resultType="boolean">
        SELECT COUNT(*) FROM admin_role
       <where>
           <if test="roleId != null">
               id != #{roleId}
           </if>
           AND `name` = #{name}
       </where>
        LIMIT 1;
    </select>

    <select id="getRolesByIds" resultMap="default">
        SELECT * FROM admin_role
        WHERE id IN (
        <foreach collection="list" item="id" separator=",">
            #{id}
        </foreach>
        );
    </select>
    <select id="getRoleList" resultMap="default">
      SELECT * FROM admin_role
    </select>

</com.tainmao.service.impl.mapper>